@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-image: url("../src/img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size : 800px;
    background-position-x: 120%;
    background-position-y : 110%;
}
.simple-learn{
    background-image: url("../src/img/bg-tablet-pattern.svg");
    background-blend-mode:color-burn;
    background-repeat:no-repeat;
    background-size : 400px;
    background-position-x: 5%;
    background-position-y : -20%;
}


@media(max-width:768px) {
    header{
        background-position-x: 30%;
        background-position-y : -160%;
    }
    .simple-learn{
        background-size: 500px;
        background-position-x: -80%;
        background-position-y : -110%;
    }
}